.footer {
  position: fixed;
  width:100%;
  bottom:0;
  left: 0;
  background-color:aquamarine;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
   }
  
  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
